.label {
    -fx-text-fill: white;
    -fx-font-family: "Georgia";
}

.list-view {
    -fx-control-inner-background: transparent;
    -fx-selection-bar: transparent;
    -fx-background-color: transparent;
}
.list-view .list-cell {
    -fx-alignment: center;
    -fx-background-insets: 0px, 4px;
}
.list-view .list-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

.image-view {
    -fx-background-color: transparent;
}

#menu-bar .label {
    -fx-text-fill: black;
}

#anchor-pane {
    -fx-background-image: url("../pictures/Environment/intotheabyss.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#layout #titles {
    -fx-alignment: center;
    -fx-spacing: 20;
}

#title-and-separator {
    -fx-alignment: center;
}

#title {
    -fx-padding: 0 0 -30 0;
    -fx-font-size: 65;
    -fx-font-family: "Papyrus";
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#return-button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-background-radius: 5;
    -fx-padding: 8px 16px;
    -fx-text-fill: yellow;
    -fx-font-family: "Georgia";
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-min-width: 250;
}

#passage-content-text {
    -fx-font-family: "Georgia";
    -fx-fill: white;
}

#passage-content-container {
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-padding: 30px;
    -fx-background-radius: 10px;
}

#inventory-scroll-pane .list-view {
    -fx-control-inner-background: transparent;
    -fx-selection-bar: transparent;
    -fx-background-color: transparent;
}
#inventory-scroll-pane .list-view .list-cell {
    -fx-alignment: center;
    -fx-background-insets: 0px, 4px;
}
#inventory-scroll-pane .list-view .list-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

#inventory-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

#inventory-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #AAA;
}

#inventory-scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #888;
}

#log-button,
#goals-button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-background-radius: 10px;
    -fx-padding: 8px 8px;
    -fx-text-fill: yellow;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
    -fx-pref-width: 200;
}

#return-button:hover,
#log-button:hover,
#goals-button:hover {
    -fx-text-fill: gold;
}

#return-button:pressed,
#log-button:pressed,
#goals-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
}

#inventory-list {
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#inventory-list .list-view {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#inventory-list .list-cell {
    -fx-text-fill: black;
}