.label-adventure {
    font-size: 48px;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    text-wrap: wrap;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
}

.label-lotr {
    -fx-font-family: "Papyrus", sans-serif;
    -fx-font-size: 48px;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 10, 0.0 , 2 , 2 );

    -fx-animated: true;
}

.list-choice{
    -fx-background-color: transparent;
}

.hbox-adventure {
    -fx-background-image: url("pictures/Environment/listBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.prompt-text-centered .text {
    -fx-alignment: center;

}

.gridpane-with-border {
    -fx-grid-lines-visible: true;

}
.label-blue {
    -fx-font-family: Monospaced;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.root > .label {
    -fx-font-family: Monospaced;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}




