.root {
    -fx-background-image: url("../pictures/titlescreenFullSize.gif");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#return-button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-background-radius: 5;
    -fx-padding: 8px 16px;
    -fx-text-fill: yellow;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

#return-button:hover {
    -fx-text-fill: gold;
}

#return-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
}

#content-v-box {
    -fx-spacing: 30;
}

#title {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;
    -fx-font-family: "Papyrus";
}

#description {
    -fx-font-size: 24px;
    -fx-text-fill: #FFF;
    -fx-font-family: "Georgia";
}

#browse-local-files {
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-padding: 8px 16px;
    -fx-text-fill: white;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-background-color: rgb(123, 146, 160);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-pref-width: 400;
    -fx-min-width: 400;
    -fx-max-width: 400;
}

#browse-local-files:hover {
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 2);
}

#browse-local-files:pressed {
    -fx-text-fill: yellow;
    -fx-background-color: rgb(78, 85, 94);
    -fx-effect: none;
}

.table-view {
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-max-width: 500px;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: "Georgia";
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.table-view .scroll-bar .increment-button .increment-arrow,
.table-view .scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: white;
}

.table-view .placeholder .label {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
    -fx-text-fill: white;
    -fx-alignment: top-center;
}

.table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.table-cell .button {
    -fx-cursor: hand;
    -fx-pref-width: 100;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: "Georgia";
    -fx-background-color: rgb(123, 146, 160);
}

.table-cell .button:hover {
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 2);
}

.table-cell .button:pressed {
    -fx-text-fill: yellow;
    -fx-background-color: rgb(78, 85, 94);
    -fx-effect: none;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell .table-cell {
    -fx-border-color: transparent;
}

.table-view .table-column {
    -fx-alignment: center;
}

