.root #menu-bar {
    -fx-alignment: top-left;
}

.label {
    -fx-text-fill: white;
}

.menu-bar .label{
    -fx-text-fill: black;
}

#anchor-pane {
    -fx-background-image: url("../pictures/titlescreenFullSize.gif");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#return-button,
#help-button,
#next-button {
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-padding: 8px 16px;
    -fx-text-fill: yellow;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

#return-button {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 3);
}

#help-button {
    -fx-background-color: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 3);
}

#return-button:hover,
#help-button:hover {
    -fx-text-fill: gold;
}

#return-button:pressed,
#help-button:pressed,
#next-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);
}

#layout #titles {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
}

#title {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;
    -fx-font-family: "Papyrus";
}

#player-container {
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 3);
    -fx-background-radius: 10px;
}

#story-container {
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 3);
    -fx-background-radius: 10px;
}

#goals-container {
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 3);
    -fx-background-radius: 10px;
}

#add-inventory-button,
#story-choice-button,
#add-goal-button {
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-background-color: rgb(123, 146, 160);
}
#add-inventory-button:hover,
#story-choice-button:hover,
#add-goal-button:hover {
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 2);
}
#add-inventory-button:pressed,
#story-choice-button:pressed,
#add-goal-button:pressed {
    -fx-text-fill: yellow;
    -fx-background-color: rgb(78, 85, 94);
    -fx-effect: none;
}

#game-name-text-field {
    -fx-font-size: 20px;
}

#next-button {
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-min-width: 200px;
    -fx-background-radius: 10px;
    -fx-background-color: rgb(123, 146, 160);
}
#next-button:hover {
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 2);
}
#next-button:pressed {
    -fx-text-fill: yellow;
    -fx-background-color: rgb(78, 85, 94);
    -fx-effect: none;
}

#user-feedback {
    -fx-text-fill: #0FFF50;
    -fx-font-size: 160px;
    -fx-background-color: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
    -fx-background-radius: 10px;
    -fx-min-height: 50px;
}

#broken-links-title {
    -fx-text-fill: black;
}