.root {
    -fx-background-image: url("../pictures/titlescreenFullSize.gif");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#return-button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    -fx-background-radius: 5;
    -fx-padding: 8px 16px;
    -fx-text-fill: yellow;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

#return-button:hover {
    -fx-text-fill: gold;
}

#return-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 5);

}

#title {
    -fx-font-size: 60;
    -fx-text-fill: white;
}

#content-v-box {
    -fx-spacing: 70;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: "Georgia";
    -fx-text-fill: white;
}

#option-controls {
    -fx-alignment: center;
    -fx-hgap: 20;
    -fx-vgap: 20;
}

#option-controls .label {
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#bold-font-checkbox {
    -fx-alignment: center;
}

#font-size-choice-box .label {
    -fx-text-fill: black;
}