.root #menu-bar {
    -fx-alignment: top-left;
}

#anchor-pane {
    -fx-background-image: url("../pictures/titlescreenFullSize.gif");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#layout #titles {
    -fx-alignment: center;
    -fx-spacing: 20;
}

#title-and-separator {
    -fx-alignment: center;
}

.separator {
    -fx-pref-width: 400;
}

#title {
    -fx-padding: 0 0 -30 0;
    -fx-font-size: 100;
    -fx-font-family: "Papyrus";
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#menu-buttons .button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 8px 16px;
    -fx-text-fill: white;
    -fx-font-family: "Georgia";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-pref-width: 400;
    -fx-min-width: 400;
    -fx-max-width: 400;
}

#menu-buttons .button:hover {
    -fx-text-fill: yellow;
}

#menu-buttons .button:pressed {
    -fx-text-fill: gold;
}


